on: push
name: deploy
jobs:
 deploy:
   name: deploy to cluster
   runs-on: ubuntu-latest
   steps:
   - name: Checkout
     uses: actions/checkout@v2
   - name: Configure AWS credentials
     uses: aws-actions/configure-aws-credentials@v1
     with:
       aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
       aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
       aws-region: us-east-2
   - name: Login to Amazon ECR
     id: login-ecr
     uses: aws-actions/amazon-ecr-login@v1
   - name: Push image and deploy
     uses: observian/littleci-littlecd-eks@master

     with:
       access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
       secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
       account_id: ${{ secrets.AWS_ACCOUNT_ID }}
       repo: github-ecr
       region: us-east-2
       tags: 0.1.1.${{ github.run_number }},${{ github.sha }}
       eks_cluster_name: my-cluster-cli
       k8s_manifest: git-deployment.yml
       k8s_image_tag: 0.1.1.${{ github.run_number }}